html{
    font-family: Helvetica, sans-serif;
    background-color: whitesmoke;
}

header nav, h1 {
    display: inline-block;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
        padding: 20px;
    color: greenyellow;
}