@media (max-width:600px) {


    #main-menu{
        display: flex;
        flex-direction: column;
       align-items: center;
    }


#main-menu ul {
    display: flex;
    flex-direction: column;
}

#main-menu ul li {
    text-align: center;
    border: 1px solid red;
    margin-bottom: 5px;
}

#left-aside{
    display: flex;
    justify-content: space-around;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#news article {
    width: 100%;
}
#right-aside {
    width: 90%;
}
footer {
    display: flex;
    flex-direction: column;
}

footer ul  {
    width: 30%;
    margin: 8px;
}
}