:root{
    --background-url: url(images/background.png);
    --form-background-url: url(images/form-background.png);
}


.first{
    background-image: var(--background-url);
    background-size: cover;
    max-width: 1000px;
    height: 600px;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.second {
    display: flex;
    flex-direction: column;
    background-image: var(--form-background-url);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 20px 15px 15px var(--shadows);
    width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 5%;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
  }