body {
    font-family: "Raleway", sans-serif;
    color: var(--gray-black);
  }
  
  .page-section {
    max-width: 1880px;
    margin: 1.5rem auto;
    background-color: var(--gray-light);
    height: calc(100vh - 1.5rem);
    padding: 3rem 5rem;
    overflow: hidden;
  }
  
  .section-flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .section-flexed .section-info {
    flex: 0 0 50%;
  }
  .section-flexed .section-img {
    flex: 0 1 35%;
  }
  
  .page-section .title {
    font-size: 3rem;
    font-weight: normal;
    margin-bottom: 2.5rem;
  }
  .page-section .desc {
    font-style: italic;
    margin-bottom: 2rem;
  }
  
  .page-section .divider.vertical {
    height: 6rem;
    width: 1px;
    background-color: var(--gray-black);
  }
  
  /* Hero */
  #hero.page-section {
    position: relative;
  }
  
  #hero .navigation {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  #hero .hero-img {
    position: absolute;
    width: 50%;
    bottom: 0px;
    right: 5rem;
  }