@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    max-width: 1500px;
    font-family: "Raleway", sans-serif;
}

#first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 400px;
}

#first img {
    width: 30%;
}

#first .menu{
    position: absolute;
    right: 15px;
    top: 10px;
    background-color: gray;
    padding: 5px 5px;
}

#first .text {
    width: 40%;
    text-decoration: none;
    padding-left: 20px;
    margin-left: 30px;
}